<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Concexion de las NUC</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
  <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

  <style>
    #mynetwork {
      width: 100%;
      height: 600px;
    }
  </style>
</head>

<body>
  <div class="row">
    <div class="col-2" style="min-height: 1000px;width: 100%;background-color: gainsboro;">
    </div>
    <div class="col-8" style="min-height: 100%;">
      <div class="row align-items-end">
        <div class="col-1 align-bottom text-center mt-3">
          <img src="{{ url_for('static', filename='loading.gif') }}" alt="Cargando..." class="align-bottom fa fa-spinner fa-spin fa-lg" style="display:none; width: 20px;">
        </div>
        <div class="col-11 text-center" style="margin-top: 100px;margin-left: -70px;">
          <h1>Conexiones de las NUC</h1>
        </div>
        
      </div>
      <div class="row" id="mynetwork"></div>
      <!-- Icono de carga -->
      

    </div>
    <div class="col-2" style="min-height: 1000px;background-color: gainsboro;">
    </div>
  </div>



  <script src="{{ url_for('static', filename='vis.min.js') }}"></script>
  <script id="for_ajax">

  </script>
  <script>
    // Get the timer element
    $('.fa-spinner').hide();
    function reload_graph() {
      $('.fa-spinner').show();
      $.ajax({
        url: '/reload',
        method: 'GET',
        success: function (response) {
          $('#for_ajax').empty();
          var script = document.getElementById('for_ajax');
          script.text = response;

          // Append the script to the document
          document.head.appendChild(script);

          // Execute the script
          eval(response);
          console.log('entre')
          $('.fa-spinner').hide();
          // Llamar a reload_graph después de 4 segundos
          setTimeout(reload_graph, 2000);

          // Ocultar el icono de carga
        },
        error: function (xhr, status, error) {
          // Handle AJAX errors here
          console.log('AJAX error: ', xhr, status, error);
          alert("Fallaron los datos!!")
        }
      });
    }

    reload_graph();

  </script>
</body>

</html>